.App {
  text-align: center;
}
.App-link {
  color: #61dafb;
}
.carousel-caption {
  position: relative;
  top: 50%;
  font-size: x-large;
  font-family: monospace;
}
.bottom {
  background-color: #343a40;
  color: ivory;
  text-align: center;
  width: auto !important ;
  position: sticky;
  position:-webkit-sticky; 
  top: 0;
}
.Books {
  margin-left: 250px;
  width: 450px;
  height: 338px;
}

.Letter {
  margin-left: 250px;
  width: 200px;
  height: 300px;
}
