@font-face {
  font-family: "thewitcher";
  src: local("TheWitcher"), url("./fonts/TheWitcher.ttf") format("truetype");
  font-weight: medium;
}

.witcher-font {
  font-family: thewitcher;
  font-weight: medium;
}

.App {
  text-align: center;
}

.carousel-caption {
  position: relative;
  top: 50%;
  font-size: x-large;
  font-family: monospace;
}
/*-- Footer --*/
.bottom {
  background-color: #343a40;
  color: ivory;
}
.space{
display:table-row;
margin-left: 21em;
margin-top:2em;

}
/*-- About & Contact Images --*/

.Books {
  margin-left: 250px;
  width: 450px;
  height: 338px;
}

.Letter {
  margin-left: 250px;
  width: 200px;
  height: 300px;
}

/*-- Jumbotron --*/

.Title {
  font-size: 6em;
}

.Subtitle {
  font-size: 2em;
}

/*-- Navbar --*/

.NavbarTitle {
  font-size: 2em !important;
}

.NavbarButtons {
  font-size: 1.5em;
}
