@font-face {
  font-family: "thewitcher";
  src: local("TheWitcher"), url("./Fonts/TheWitcher.ttf") format("truetype");
  font-weight: medium;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

/*-- Global/App --*/

.witcher-font {
  font-family: thewitcher;
  font-weight: medium;
}

.App {
  text-align: center;
  background-color: rgb(172, 178, 181);
}

/*-- Top Navbar --*/

.NavBar {
  margin-bottom: 0;
}

.NavbarTitle {
  font-size: 2em !important;
  text-shadow: 1px 1px 12px black;

}

.NavbarButtons {
  font-size: 1.5em;
}

.NavbarHover {
  transition-duration: 0.2s;
  position: relative;
}

.NavbarHover:hover {
  transform: translateY(-3px);
  transition-duration: 0.2s;
  text-shadow: 2px 2px 8px black;
}


/*-- Footer Nav --*/

.NavBarBottom {
  position: relative;
  background-color: #343a40;
  color: ivory;
}
.footer-margin {
  margin-left: 13.5em;
  margin-top: 0.5%;
}

.footer-nav-text {
  font-size: 16pt;
  line-height: 1;
  word-spacing: 3px;
}

/*-- scroll to top --*/

.chevron {
  margin-left: 150px;
}

/*-- HomePage --*/

.Blog-Previews-Row {
  position: relative;
  background-color: #28323c;
}

.Blog-Previews {
  border-radius: 90%;
  width: 200px;
  height: 200px;
  position: relative;
  margin-top: 1.5em;
  border: solid rgb(218, 184, 123) 7px;
  transition-duration: 0.2s;
  z-index: 1;
}

.Blog-Previews:hover {
  transform: translateY(-10px);
  transition-duration: 0.2s;
  box-shadow: 5px 5px 60px rgba(105, 98, 71, 0.952);
}

.Blog-Preview-Text {
  color: white;
  font-size: 2em;
  text-shadow: 2px 2px 2px black;

}
.Blog-Preview-Link:hover {
  text-decoration: none;
}

/*-- Carousel --*/

.carousel-container {
  width: fit-content;
}

.CarouselOpacity {
  opacity: 80%;
}

.carousel-caption {
  position: relative;
  top: 50%;
  font-size: x-large;
  font-family: monospace;
}

/*--  Blog Post Generator --*/

.blog-post-body {
  background-color: rgb(36, 36, 36);
  background-position: center;
  height: 95vh !important;
}

.blog-post-jumbotron {
  height: 200px;
  position: relative;
  background-color: rgb(61, 61, 63) !important;
}

.Blog-Title {
  font-size: 4em;
  margin-top: -0.5em;
  color: white;
  text-shadow: rgba(46, 35, 17, 0.897) 2px 2px 3px;

}

.Blog-Subtitle {
  font-size: 2em;
  color: beige;
}

.author-portrait {
  position: relative;
  float: left;
  right: 2%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  z-index: 1;
  border: solid rgb(255, 255, 255) 3px;
}

.author-details {
  position: relative;
  margin-top: 1em;
  color: white;
  text-shadow: rgba(22, 16, 8, 0.897) 2px 2px 2px;

}

.blog-image {
  position: relative;
  left: 10%;
  top: 2em !important;
  width: 500px;
  height: 500px;
  border-radius: 90%;
  border: solid rgb(218, 184, 123) 7px;
}

.blog-content-container {
  position: relative;
  bottom: 25%;
  right: 10%;
  height: 240px;
  width: 640px !important;
  border: 3px solid grey;
  border-radius: 5%;
  background-color: rgb(206, 190, 139);
  overflow: auto;
}

.blog-content {
  position: relative;
  font-family: "Times New Roman", Times, serif;
  text-align: justify;
  top: 5%;
  margin-right: 2em !important;
  margin-left: 2em !important;
  border-radius: 8px;
}

.blog-ingredients-container {
  position: relative;
  bottom: 31%;
  left: 10%;
  height: 260px;
  width: 300px !important;
  border: 3px solid grey;
  border-radius: 5%;
  background-color: rgb(206, 190, 139);
  overflow: auto;
}

.blog-ingredients {
  position: relative;
  font-family: "Times New Roman", Times, serif;
  text-align: left;
  margin-top: 1em;
}

.video-player {
  position: relative;
  top: 2%;
}

/*-- Recipe Index --*/

.tavern-image {
  border-radius: 5%;
}

.recipe-index-body {
  background-color: #0c1a1afa;
  height: 76vh;
}

.recipe-index-container {
  position: relative;
  background-color: transparent;
  bottom: 475px;
  z-index: 2;
}

.index-images {
  border-radius: 90%;
  width: 250px;
  height: 250px;
  position: relative;
  border: solid rgb(218, 184, 123) 7px;
  transition-duration: 0.2s;
}

.index-images:hover {
  transform: translateY(-10px);
  transition-duration: 0.2s;
  box-shadow: 5px 5px 90px rgba(221, 174, 72, 0.829);
}

/*-- Authors Page --*/

.author-body {
  background: linear-gradient(
      rgba(20, 4, 4, 0.664),
      rgba(8, 8, 8, 0.883)
    ),
    url(Images/AuthorPhotos/Continent.jpeg);
  background-position: center;
  height: 100vh;
}

.author-header-jumbotron {
  background-color: transparent !important;
  color: white;
}

.author-header-text {
  font-size: 60pt;
  text-shadow: rgba(170, 130, 67, 0.897) 2px 2px 6px;
  margin-top: -0.5em;
}

.authors {
  border-radius: 50%;
  margin-left: 30px;
  margin-top: -6.5em;
  margin-bottom: 2em;
  width: 300px;
  height: 300px;
  content: wrap;
  position: relative;
  border: solid rgb(199, 197, 197) 7px;
  transition-duration: 0.4s;
}

.authors:hover {
  transform: translateY(-15px);
  box-shadow: 5px 3px 60px rgba(233, 229, 226, 0.829);
  transition-duration: 0.4s;
  cursor: pointer;
}

.author-bio-container {
  border: none rgb(103, 94, 94);
  border-radius: 50px;
  height: 250px;
  width: 500px;
}

.author-bio-text {
  text-align: justify;
}

.author-info {
  margin-top: 1em;
  color: white;
  font-size: 20pt;
  text-shadow: rgba(167, 26, 26, 0.76) 2px 2px 6px;
}

/*-- Sign Up & Contact Images --*/

.transparent {
  background: linear-gradient(
      rgba(53, 10, 10, 0.287),
      rgba(190, 172, 172, 0.45)
    ),
    url(Images/Contact/OfficialWitcher.jpg);
  background-position: center;
  width: 100vw;
  height: 70vh;
}
.Books {
  margin-left: 250px;
  width: 450px;
  height: 338px;
}

.form-container {
  width: 400px;
  height: 450px;
  color: rgb(255, 255, 255);
  margin-left: 32%;
  margin-top: 8%;
}
.about-container {
  margin-top: 50px;
  margin-bottom: 50px;
}

/*-- Error Page --*/

.ErrorGIF {
  width: 1000px;
  height: auto;
  z-index: -1;
}
