@font-face {
  font-family: "thewitcher";
  src: local("TheWitcher"), url("./Fonts/TheWitcher.ttf") format("truetype");
  font-weight: medium;
}

/*-- Global/App --*/

.witcher-font {
  font-family: thewitcher;
  font-weight: medium;
}

.App {
  text-align: center;
}

/*-- Top Navbar --*/

.NavbarTitle {
  font-size: 2em !important;
}

.NavbarButtons {
  font-size: 1.5em;
}

.NavbarHover {
  transition-duration: 0.2s;
  position: relative;
}

.NavbarHover:hover {
  transform: translateY(-3px);
  transition-duration: 0.2s;
}


/*-- Footer Nav --*/
.NavBarBottom {
  position: absolute;
  background-color: #343a40;
  color: ivory;
  bottom: 0;
}
.space {
  margin-left: 16.5em;
  margin-top: 1em;
}

.arrow {
  margin-left: 150px;
}

/*-- HomePage --*/

.Blog-Previews-Row {
  position: relative;
  background-color: #28323c;
}

.Blog-Previews {
  border-radius: 90%;
  width: 250px;
  height: 250px;
  padding: 15px;
  position: relative;
  transition-duration: 0.2s;
}

.Blog-Previews:hover {
  transform: translateY(-10px);
  transition-duration: 0.2s;
}

.Blog-Preview-Text {
  color: white;
  font-size: 2em;
}


.Blog-Preview-Link:hover {
  text-decoration: none;
}

/*-- Carousel --*/

.CarouselOpacity {
  opacity: 80%;
}

.carousel-caption {
  position: relative;
  top: 50%;
  font-size: x-large;
  font-family: monospace;
}

/*-- Recipe Blog Post --*/

.circular--portrait {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}

.circular--portrait img {
  width: 100%;
  height: auto;
}

/*-- Authors --*/

.authors {
  border-radius: 50%;
  margin-left: 30px;
  margin-bottom: 5%;
  width: 200px;
  height: 300px;
  content: wrap;
}
.transparent {
  border: none;
}
.profile-bg {
  background-color: rgb(119, 119, 119);
  color: white;
}

.AuthorHeader,
.Accordion {
  margin-top: 4%;
  margin-bottom: 2%;
}

.Accordion {
  margin-bottom: 10%;
}

.bio-container {
  border: solid red;
  border-radius: 50px;
  height: 20vh;
}

/*-- About & Contact Images --*/

.Books {
  margin-left: 250px;
  width: 450px;
  height: 338px;
}

.Letter {
  margin-left: 250px;
  width: 200px;
  height: 300px;
}

.about-container {
  margin-top: 50px;
  margin-bottom: 50px;
}

/*-- Error Page --*/

.ErrorGIF {
  width: 1000px;
  height: auto;
  z-index: -1;
}
